/* Global */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    height: 100%;
    overflow: auto;
    padding-bottom: 25px;
    margin: 0;
    background-color: white;
    cursor: url(https://img.icons8.com/color/30/000000/cursor.png), auto;
}

.container {
    width: 80%;
    overflow: hidden;
    margin: auto;
    text-align: center;
    word-wrap: break-word;
}

button {
    border: none;
    outline: none;
    transition-duration: 0.7s;
    cursor: url(https://img.icons8.com/color/30/000000/cursor.png), auto;
}

a {
    text-decoration: none;
    color: rgb(121, 26, 134);
}

a:hover {
    color: rgb(176, 134, 185);
}

a.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}




/* Header */
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: solid rgb(224, 210, 220) 7px;
    background-color: rgb(235, 226, 232);
    padding-top: 20px;
    min-height: 50px;
}

header a button {
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 10px;
    letter-spacing: 3px;
    font-size: 13px;
    font-weight: 500;
}

header a button::before {
    content: '';
    display: block;
    height: 4px;
    margin-bottom: 4px;
    background: rgb(204, 184, 199);
    top: 0;
    width: 0%;
    transition: all ease-in-out 300ms;
}

header a button:hover::before {
    width: 100%;
}

header ul{
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

#nav {
    float: right;
    position: relative;
    cursor: url(https://img.icons8.com/color/30/000000/cursor.png), auto;
}



/* Intro */
#intro {
    background-image: url("images/background.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    top: 0;
    font-family: 'Roboto Mono', monospace;
}

#intro #blurb {
    width: 45%;
    padding: 1vw;
    padding-top: 180px;
    padding-bottom: 180px;
}

#intro #profile {
    float: right;
    margin-top: 80px;
    margin-right: 110px;
    width: 30%;
}

#name {
    font-family: 'Rajdhani', sans-serif;
    font-size: 120px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    font-weight: 1;
    line-height: 100px;
}



/* Main */
#main {
    min-height: 800px;
    text-align: center;
}

#main h2 {
    color: rgb(165, 91, 104);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    margin: 10px;
}

#main .container {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px 70px 30px 70px;
    box-shadow: 0px 0px 10px 1px rgb(230, 230, 230);
}

table {
    margin: auto;
}

td {
    width: 220px;
    padding: 20px;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}



/* Footer */
footer {
    position: absolute;
    clear: both;
    background-color: black;
    color: #fff;
    padding: 1%;
    font-size: 13px;
    height: 25px;
    width: 98%;
    margin-bottom: 0;
}

footer #copyright {
    float: left;
}

footer #coded-with {
    float: right;
}